name: Run safe-react e2e tests
on:
  push:
    branches:
      - main
  repository_dispatch:
    types: [run-e2e-from-safe-react]
env:
  PUPPETEER_EXEC_PATH: 'google-chrome-stable'
jobs:
  runE2eTests:
    name: Run e2e tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
    - name: Install Dependencies
      run: yarn install --frozen-lockfile
    - name: Test Code
      uses: mujo-code/puppeteer-headful@master
      env:
        CI: 'true'
        TESTING_ENV: 'rinkeby'
      with:
        args: yarn test read_only
