## Run e2e tests on each PR in this repo

name: Run read-only tests on dev
on:
  pull_request:
env:
  PUPPETEER_EXEC_PATH: 'google-chrome-stable'
jobs:
  runDevTests:
    name: Run e2e tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
    - name: Install Dependencies
      run: yarn install --frozen-lockfile
    - name: Read only tests
      uses: mujo-code/puppeteer-headful@master
      id: test-code
      env:
        CI: 'true'
        TESTING_ENV: 'dev'
      with:
        args: yarn run test-ci read_only
